{% extends 'base.html' %}
{% block content %}

<h1>Artist profile - {{ artist.name }}</h1>

<p><img src="{{ artist.image }}" width="250px"></p>

<p><strong>Genre:</strong> {{ artist.genre }}</p>

<p><strong>Hometown:</strong> {{ artist.hometown }}</p>

<p><strong>Biography:</strong> {{ artist.biography }}</p>


<h2>Edit artist</h2>

<form method="POST" action="{{ url_for('main.artist_detail', artist_id=artist.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please update information:</legend>

            {{ form.name.label }}
            {{ form.name }}

            {{ form.hometown.label }}
            {{ form.hometown }}

            {{ form.genre.label }}
            {{ form.genre }}

            {{ form.biography.label }}
            {{ form.biography }}

            {{ form.image.label }}
            {{ form.image }}

            {{ form.submit }}
    </fieldset>
</form>

{% endblock %}