{% extends 'base.html' %}
{% block content %}

<h1>{{ artist.name }}</h1>

<p><img src="{{ artist.image }}" width="400px"></p>

<p><strong>Genre:</strong> {{ artist.genre }}</p>

<p><strong>Hometown:</strong> {{ artist.hometown }}</p>

<p><strong>Biography:</strong> {{ artist.biography }}</p>

<h2>Upcoming Concerts</h2>

{% if artist.upcoming_concerts %}
    <ul>
        {% for concert in artist.upcoming_concerts %}
        <li><a href="/concert/{{ concert.id }}">{{ concert.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <h4>{{ artist.name }} is not playing any upcoming concerts! </h4>
{% endif%}

{% if current_user.is_authenticated %}
    {% if artist not in current_user.favourites %}
    <form action="/favourite/{{ artist.id }}" method="POST">
        <input type="submit" value="Favourite">
    </form>
    {% else %}
    <form action="/unfavourite/{{ artist.id }}" method="POST">
        <input type="submit" value="Unfavourite">
    </form>
    {% endif %}
{% endif %}

{% if current_user.is_authenticated %}
    <form action="/edit_artist/{{ artist.id }}">
        <input type="submit" value="Edit">
    </form>
{% endif %}

<h2>Fans</h2>
{% if artist.fans %}
<ul>
    {% for fan in artist.fans %}
    <li><a href="/profile/{{ fan.id }}">{{ fan.username }}</a></li>
    {% endfor %}
</ul>
{% else %}
<h4>{{ artist.name }} does not have any fans! </h4>
{% endif%}


{% endblock %}