{% extends 'base.html' %}
{% block content %}

<h2>{{ concert.name }}</h2>

<p><img src="{{ concert.image }}" width="400px"></p>

<div class="details">

    <p><strong>Price:</strong> {{ concert.price }}</p>

    <p><strong>Date:</strong> {{ concert.date }}</p>

    <p><strong>Venue:</strong> {{ concert.venue }}</p>

    <p><strong>Artist Playing:</p>
    
    <a href="/artist/{{ concert.artist_playing.id }}">{{ concert.artist_playing }}</a>

</div>

{% if current_user.is_authenticated %}
    {% if concert not in current_user.attending %}
        <form action="/attending/{{ concert.id }}" method="POST">
            <input type="submit" value="🎵 Attend this Concert 🎵">
        </form>
    {% else %}
        <form action="/unattend/{{ concert.id }}" method="POST">
            <input type="submit" value="Can't Attend">
        </form>
    {% endif %}
{% endif %}

<form action="/concert/{{ concert.id }}/edit" method="post">
    <input type="submit" value="Edit">
</form>

<h2>Attending:</h2>
{% if concert.guests_attending %}
<ul>
    {% for guest in concert.guests_attending %}
    <li><a href="/profile/{{ guest.id }}">{{ guest.username }}</a></li>
    {% endfor %}
</ul>
{% else %}
<h4>{{ concert.name }} does not have anyone attending!</h4>
{% endif%}

{% endblock %}