{% extends 'base.html' %}
{% block content %}

<h2>{{ concert.name }}</h2>

<div class="details">
{% if current_user.is_authenticated %}
    {% if concert not in current_user.attending %}
    <form action="/attending/{{ concert.id }}" method="POST">
        <input type="submit" value="Attend this Concert">
    </form>
    {% else %}
    <form action="/unattend/{{ concert.id }}" method="POST">
        <input type="submit" value="Can't Attend">
    </form>
    {% endif %}
{% endif %}

<p><img src="{{ concert.image }}" width="400px"></p>

    <p><strong>Price:</strong> {{ concert.price }}</p>

    <p><strong>Date:</strong> {{ concert.date }}</p>

    <p><strong>Venue:</strong> {{ concert.venue }}</p>

    <p><strong>Artist Playing:</p>
    
    <a href="/artist/{{ concert.artist_playing.id }}">{{ concert.artist_playing }}</a>


<p><strong>Guests Attending:</p>
{% if concert.guests_attending %}
<ul>
    {% for guest in concert.guests_attending %}
    <li><a href="/profile/{{ guest.username }}">{{ guest.username }}</a></li>
    {% endfor %}
</ul>
{% else %}
<h4>{{ concert.name }} does not have anyone attending!</h4>
{% endif%}

{% if current_user.is_authenticated %}
<form action="/concert/{{ concert.id }}/edit" method="post">
    <input type="submit" value="Edit Concert">
</form>

</div>
{% endif %}

{% endblock %}