{% extends 'base.html' %}
{% block content %}

<h2>{{ artist.name }}</h2>

<h2>Edit Artist</h2>

<form method="POST" action="{{ url_for('main.edit_artist', artist_id=artist.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please update information:</legend>

        {{ form.name.label }}
        {{ form.name }}
        {% for error in form.name.errors %}
        <p class="error">{{ error }}
        <p>
        {% endfor %}
    
        {{ form.hometown.label }}
        {{ form.hometown }}
        {% for error in form.hometown.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        
        {{ form.genre.label }}
        {{ form.genre }}
        {% for error in form.genre.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        
        {{ form.biography.label }}
        {{ form.biography }}
        {% for error in form.biography.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        
        {{ form.image.label }}
        {{ form.image }}
        {% for error in form.image.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}

        {{ form.submit }}
    </fieldset>
</form>
{% endblock %}