{% extends 'base.html' %}
{% block content %}

<h1>{{ concert.name }}</h1>

<h2>Edit Concert</h2>

<form method="POST" action="{{ url_for('main.edit_concert', concert_id=concert.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please update information:</legend>

        {{ form.name.label }}
        {{ form.name }}

        {{ form.price.label }}
        {{ form.price }}

        {{ form.venue.label }}
        {{ form.venue }}

        {{ form.address.label }}
        {{ form.address }}

        {{ form.date.label }}
        {{ form.date }}

        {{ form.artist_playing.label }}
        {{ form.artist_playing }}

        {{ form.image.label }}
        {{ form.image }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}