{% extends 'base.html' %}
{% block content %}

<h2>Log In</h2>

<form action="/login" method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter your credentials</legend>

        {{ form.username.label }}
        {{ form.username }}
        {% for error in form.username.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}

        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}