{% extends 'base.html' %}
{% block content %}

<h1>New Concert</h1>

<form method="POST" action="{{ url_for('main.new_concert') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter concert information:</legend>

        {{ form.name.label }}
        {{ form.name }}
        
        {{ form.price.label }}
        {{ form.price }}
        
        {{ form.venue.label }}
        {{ form.venue }}
        
        {{ form.address.label }}
        {{ form.address }}
        
        {{ form.date.label }}
        {{ form.date }}

        {{ form.image.label }}
        {{ form.image }}

        {{ form.artist_playing.label }}
        {{ form.artist_playing }}
        
        {{ form.submit }}
        
    </fieldset>
</form>


{% endblock %}
